apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: ServerlessEventAppClaim
      name: messagewall
    patch: |
      - op: replace
        path: /metadata/name
        value: messagewall-dev-west
      - op: replace
        path: /spec/environment
        value: dev
      - op: replace
        path: /spec/region
        value: us-west-2
      - op: replace
        path: /spec/resourcePrefix
        value: messagewall-west

labels:
  - pairs:
      environment: dev
      region: us-west-2
    includeSelectors: false
