apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: ServerlessEventAppClaim
      name: messagewall
    patch: |
      - op: replace
        path: /metadata/name
        value: messagewall-prod-east
      - op: replace
        path: /spec/environment
        value: prod
      - op: replace
        path: /spec/region
        value: us-east-1
      - op: replace
        path: /spec/resourcePrefix
        value: messagewall-east
      - op: replace
        path: /spec/lambdaMemory
        value: 256
      - op: replace
        path: /spec/lambdaTimeout
        value: 30
      - op: add
        path: /metadata/annotations
        value:
          messagewall.demo/tier: production
          messagewall.demo/oncall: platform-team

labels:
  - pairs:
      environment: prod
      region: us-east-1
    includeSelectors: false
